p {
    margin-left: 20%;
    margin-right: 20%;
}

#db-quiz {
    font-weight: bolder;
    text-align: center;
    justify-content: center;
}

#start-quiz {
    position: absolute;
    right: 48%;
}

.show {
display: block;
}

.hidden {
display: none;
}

