p {
    margin-left: 20%;
    margin-right: 20%;
}

button {
    color: yellow;
    background-color: mediumseagreen;
    border: solid mediumseagreen;
    border-radius: 5px;
}

#score-keeper {
    color: yellow;
    background-color: orangered;
    border: solid mediumseagreen;
    border-radius: 5px;
}

#db-quiz, #questions {
    font-weight: bolder;
    text-align: center;
    justify-content: center;
    color: yellow;
    background-color: orangered;
    border: solid mediumseagreen;
    border-radius: 25px;
    margin-left: 30%;
    margin-right: 30%;
}

#start-quiz {
    position: absolute;
    right: 47%;
}


.hidden {
display: none;
}

